// Mixins
@mixin margin-auto {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

// Typography
$font-family-primary: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Game card sizes
$card-data-x: 300px;
$card-data-y: 7/6 * $card-data-x;
$title-stripe-x: $card-data-x;
$title-stripe-y: 100px;
$card-frame: 2px;
$card-height: $card-data-y + $title-stripe-y + (2 * $card-frame);
$card-round: 3%;

// Colors
$default-bgc: #f8fafc;
$title-default: #c0c0c0;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Brand colors
$primary-color: #ffff00;
$secondary-color: #ffed4a;

// Genres Colors
$adventure: #e3342f;

// Font colors
$font-dark: #333333;
$font-bright: #f8fafc;