
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #FFFF00;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.logo {
  max-height: 110px;
}

form > div > label {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 1em;
}