
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  color: $font-dark;
}

ul.list {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  box-sizing: border-box;

  li {
    width: 100%;
    height: 500px;
  }
  .container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    height: 100%;

    .scene {
      width: 300px;
      max-width: 100%;
      height: 350px;
      max-height: 100%;
      perspective: 10000px;
  
      .game {
        width: 300px;
        max-width: 100%;
        height: 350px;
        max-height: 100%;
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;
        
      
        &__data {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          
          &--front {
            background-color: #c0c0c0;
          }
    
          &--back {
            background-color: green;
            transform: rotateY(-180deg);
          }
        }
      
        &.is-flipped {
          transform: rotateY(-180deg);
        }
      }
    }

    .game__title {
      color: $font-dark;
    }
  }
  
  
}







