
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  color: $font-dark;
  font-size: $font-size-base;
}


////////  FILTER BOX  ////////
.button {
  background: $primary-color;
  border: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &__filter {
      position: fixed;
      font-size: 1em;
      font-weight: 900;
      top: 80px;
      right: 10px;
      z-index: 4;
      padding: 0.5em 1.5em 0.5em 1.5em;
      border-radius: 10%;

      --active {

      }
  }
  
}

section.filters-container {
  background: whitesmoke;
  position: fixed;
  width: 100%;
  top: 70px;
  z-index: 3;
  display: none;
  height: calc(100% - 70px);
  max-height: 100%;
  overflow-y: scroll;

  &--active {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: slide-down .5s ease-out;
  }

  @keyframes slide-up {
    0% { opacity: 1; transform: translateY(0);display: inline-flex}
    99% { opacity: 0; transform: translateY(-100%); display: inline-flex}
    100% { opacity: 0; transform: translateY(-100%); display: none;}
  }
  @keyframes slide-down {
    0% { opacity: 0; transform: translateY(-100%);}
    100% { opacity: 1; transform: translateY(0);}
  }

  div:nth-child(1) {
    margin-top: 2.5em;
  }
  div {
    flex: 1 1;
    width: 100%;
    padding: 1em 1em 1em 1em;
    border-bottom: 1px solid #c0c0c0;
  }
  
  .filters-container__form {
    
    width: 90%;
    input[type="submit"] {
      width: 100%;
      margin: 1em 0 1em 0;
      padding: 0.5em 1em 0.5em 1em;
      position: relative;
    }
  }
}

section.platform-filter {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  .platform-filter__name {
    flex: 1 1 100px;
    
    text-align: center;
    padding: 0.5em 0.75em 0.5em 0.75em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8%;
    background: $secondary-color;
    cursor: pointer;
  }
}

section.genres-filter {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  
  .genres-filter__name {
    flex: 1 1 110px;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8%;
    background: $secondary-color;
    cursor: pointer;
  }
}

section.sorting-filter {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: center;
  .sorting-filter__column {
    flex: 1 1 100px;
    margin-top: 1em;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    padding: 0.5em 1em 0.5em 1em;
  }

  .alphabetic-filter__arrow {

  }
}
////////    END FILTER BOX STYLING    ////////
////////    GAME CARD STYLING   ////////

ul.list {
  padding: 0;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-between;
  list-style: none;
  box-sizing: border-box;
  margin-top: 2em;

  li {
    width: 100%;
    height: $card-height;
    max-height: 100%;
    margin-top: inherit;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    max-height: 100%;

    .scene {
      width: $card-data-x;
      max-width: 100%;
      height: $card-height;
      max-height: 100%;
      perspective: 5000px;

      .game {
        width: 100%;
        height: 100%;
        border-radius: $card-round;
        position: relative;
        border: $card-frame solid #333333;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;

        &__data {
          position: absolute;
          backface-visibility: hidden;
          background-color: $default-bgc;
          color: $font-dark;
          width: $card-data-x;
          max-width: 100%;
          height: $card-height;
          max-height: 100%;
          border-radius: $card-round;
          overflow: hidden;
          &--front {
            img {
              width: $card-data-x;
              height: $card-data-y; 
              object-fit: fill;
            }
          }
    
          &--back {
            transform: rotateY(-180deg);
          }

          .game__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            width: $title-stripe-x;
            height: $title-stripe-y;
            max-width: 100%;
            
            color: $font-dark;
            background-color: $title-default;
            font-size: 1.5em;
            &:hover {
              text-decoration: none;
            }
            
            h1 {
              margin: 0;
              font-size: 1em;
            }

            h2 {
              margin: 0.3em 0 0 0;
              font-size: 0.8em;
            }

            h3 {
              margin: 0;
              font-size: 0.6em;
            }

            &--adventure {    // Przygodowy
              background-color: $adventure;
              color: $font-bright;

            }
            
          }
  
          .game__info {
            background-color: $default-bgc;
            width: $card-data-x;
            max-width: 100%;
            height: $card-data-y; 
            max-height: 100%;
          }
        }
      

        &.is-flipped {
          transform: rotateY(-180deg);
        }
      }
    }
  
  }
  
  
}

// Heading game data
.game-heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 20px 10px;
  background: black;
  border-bottom: 5px solid lightgray;
  .main-genre {
    width: 100px;
    max-width: 100px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: -10px;
	  text-align: center;  
  }
}

.rating-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: darkgreen;
  font-size: 1.2em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  span {
    color: white;
    text-transform: uppercase;
    text-align: center;
    vertical-align: bottom;
    font-size: 1em;
    z-index: 1;
    background: green;
    border-radius: 50%;
    padding: 0.5em 0.75em 0.5em 0.75em;
  }
}

.image-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
}

.image-mark {
  color: white;
  position: absolute;
  bottom: 95px;
  right: 5px;
  font-size: 4.5rem;
  cursor: pointer;
  z-index: 0;
  
  &:hover {
    color: $secondary-color;
  }
}

.game-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;
  height: $card-data-y;
}

.numbers {
  display: flex;
  justify-content: space-between;
  padding: 5px 30px 5px 30px;
  border-bottom: 1px solid lightgray;
  width: 90%;
  .numbers__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 32px;
      height: auto;
    }
    p {
      margin: 0;
      margin-top: 3px;
    }
  }
}

// icon data visualization
.rating-bars-box {
  width: 90%;
  padding: 5px 30px 5px 30px;
  border-bottom: 1px solid lightgray;
  div p:first-child {
    margin: 0;
    font-size: 0.7em;
  }
  .rating-bar {
    display: flex;
    position: relative;
    width: 6em;
    font-size: 1em; // change this
    margin: 0.3em 0 0.3em 0;
  
    .rating-bar__template {
      box-sizing: content-box;
      display: flex;
      width: 100%;
      border: 2px solid black;
      color: lightgray;
    }
  
    .heart-spacing, .skull-spacing {
      letter-spacing: 0.25em;
    }
    
    .desktop-spacing {
      letter-spacing: 0.1em;
    }
  
    .rating-bar__fillable {
      display: flex;
      position: absolute;
      width: 0;
      overflow: hidden;
      box-sizing: content-box;
      &--heart {
        color: #fd3f3f;
        background: #c00202;
        border: 2px solid #fc0303;
      }
      
      &--skull {
        color: #ffff5c;
        background: #e0e000;
        border: 2px solid #ffff42;
      }
      
      &--desktop {
        color: #47b9ff;
        background: #0071b8;
        border: 2px solid #47b9ff;
      }
    }  
  }
}


.genres {

}

.genres-badge {
  font-size: 10px;
  position: relative;
  width: 4em;
  height: 6.2em;
  border-radius: 10px;
  display: flex;
  top: 8px;
  transition: all 0.2s ease;

  &:before,
  &:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    @include margin-auto;
  }

  &:before {
    transform: rotate(60deg);
  }

  &:after {
    transform: rotate(-60deg);
  }

  .genres-badge__circle {
    width: 50px;
    height: 50px;
    position: absolute;
    background: #fff;
    z-index: 10;
    border-radius: 50%;
    @include margin-auto;
    left: -5px;
    img {
      width: 4em;
      height: auto;
      margin-top: 5px;
    }
  }
  
  .genres-badge__ribbon {
    position: absolute;
    border-radius: 4px;
    padding: 5px 5px 4px;
    width: 70px;
    z-index: 11;
    color: #fff;
    bottom: 3px;
    left: 50%;
    margin-left: -35px;
    font-size: 8px;
    line-height: 1em;
    height: 2em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    background: linear-gradient(to bottom right, #555 0%, #333 100%);
    cursor: default;
  }

  &--yellow {
    background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
    color: #ffb300;  
  }
}
////////  END GAME CARD STYLING ////////

///////   PLATFORMS AND GENRES STYLING IN GENERAL ////
.platform {
  &--android {
    background: lightgreen;
  }
  &--ps3 {
    background: lightblue;
  }
  &--ps4 {
    background: lightskyblue
  }
  &--pc {
    background: lightslategrey;
  }
  &--ios {
    background: lightcyan
  }
  &--xbox360 {
    background: lightyellow
  }
  &--xbox-one {
    background: lightgoldenrodyellow;
  }
  &--linux {
    background: lightcoral;
  }
  &--normal {
    background: whitesmoke;
  }
}
///////////////////////////////////
/////// STYLING SINGLE GAME ///////
main.single-game-container {
  display: flex;
  width: 100%;
  margin-top: 1em;
  padding: 0.5em;
  .leftbar-info {
    flex: 3 1;

    h1 {
      font-size: 1.5em;
    }

    div p {
      font-size: 1em;
      margin: 1em 0 0.2em 0;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      white-space: nowrap;
      padding: 0;
      list-style: none;
      li {
        flex: 0 1 80px;
        font-size: 0.8em;
        text-align: center;
        padding: 0.5em;
        margin: 0.1em;
      }
    }

    

    
  }

  .rightbar-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    flex: 1 0 ;
    margin: 0 1em 0 1em;
    text-align: center;
    
    img {
      width: 150px;
    }

    

    div p:first-child {
      font-weight: 900;
      text-decoration: underline;
      margin-bottom: 0;
    }

    div p:nth-child(2) {
      color: $font-dark;
    }
  }

  
}






